.navbar {
  justify-content: space-between;
  background: rgb(224, 37, 4);
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.navbar img{
  width: 140px;
  height: 60px;
}
